# Elements of Decision Tree Algorithom
 1-Entropy

 2- Gini Impurity
 
 3- Information Grain

In [3]:
import math

In [8]:
# Number of Elements(n) in each class
n_A=4
n_B=6
total=n_A+n_B

In [12]:
# Calculate propotion(p) of each class
p_A=n_A/total
p_B=n_B/total
print(p_A)
print(p_B)

0.4
0.6

In [11]:
# Calculate entropy
Entropy=-p_A*math.log2(p_A) -p_B*math.log2(p_B)
print(Entropy)

0.9709505944546686

In [13]:
# Calculate gini impurity
gini=1-p_A**2 - p_B**2
gini

0.48

In [14]:
# Information Gain
# Assum split of same function in to 2 subsets
# subset 1= 2 in A and 3 in B
# subset 2=2 in A and 3 in B
n1_A=2
n1_B=3
total_1=n1_A+n1_B

n2_A=2
n2_B=3
total_2=n2_A+n2_B

p1_A=n1_A/total_1
p1_B=n1_B/total_1

p2_A=n2_A/total_2
p2_B=n2_B/total_2

In [17]:
Entropy_1=-p1_A*math.log2(p1_A)-p1_B*math.log2(p1_B) if p1_A and p1_B else 0
Entropy_2=-p2_A*math.log2(p2_A)-p2_B*math.log2(p2_B) if p2_A and p2_B else 0

In [19]:
# Calculate Information gain
Info_gain=Entropy-((n1_A+n1_B)/total*Entropy_1+(n2_A+n2_B)/total*Entropy_2)
Info_gain

0.0

# decision tree Algorithom

In [20]:
# Import liberires
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix,classification_report

In [22]:
df=sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [23]:
df.drop('deck',axis=1,inplace=True)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  embark_town  889 non-null    object
 12  alive        891 non-null    object
 13  alone        891 non-null    bool
dtypes: bool(2), category(1), float64(2), int64(4), object(5)
memory usage: 79.4+ KB

In [34]:
df.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

In [33]:
df['age']=df['age'].fillna(df['age'].median())
df['embarked']=df['embarked'].fillna(df['embarked'].mode()[0])
df['embark_town']=df['embark_town'].fillna(df['embark_town'].mode()[0])

In [35]:
le=LabelEncoder()
for col in df.columns:
    if df[col].dtype=='object' or df[col].dtype=='category':
        df[col]=le.fit_transform(df[col])

In [38]:
df.describe()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,embark_town,alive
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,0.383838,2.308642,0.647587,29.361582,0.523008,0.381594,32.204208,1.536476,1.308642,1.210999,1.536476,0.383838
std,0.486592,0.836071,0.477990,13.019697,1.102743,0.806057,49.693429,0.791503,0.836071,0.594291,0.791503,0.486592
min,0.000000,1.000000,0.000000,0.420000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,0.000000,22.000000,0.000000,0.000000,7.910400,1.000000,1.000000,1.000000,1.000000,0.000000
50%,0.000000,3.000000,1.000000,28.000000,0.000000,0.000000,14.454200,2.000000,2.000000,1.000000,2.000000,0.000000
75%,1.000000,3.000000,1.000000,35.000000,1.000000,0.000000,31.000000,2.000000,2.000000,2.000000,2.000000,1.000000
max,1.000000,3.000000,1.000000,80.000000,8.000000,6.000000,512.329200,2.000000,2.000000,2.000000,2.000000,1.000000

In [39]:
x=df.drop('survived',axis=1)
y=df['survived']

In [49]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=101,test_size=0.2)

In [50]:
Model=DecisionTreeClassifier(max_depth=5)
Model.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=5)

In [51]:
y_pred=Model.predict(x_test)

In [54]:
print(confusion_matrix(y_pred,y_test))
print(classification_report(y_pred,y_test))

[[99  0]
 [ 0 80]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        99
           1       1.00      1.00      1.00        80

    accuracy                           1.00       179
   macro avg       1.00      1.00      1.00       179
weighted avg       1.00      1.00      1.00       179

In [58]:
c=0
for i in 'hello, world!':
    if i=='o':
        c=c+1
print(c)

2

In [74]:
res=[]
def merge(a,b):
    return a+b
for x in [1,2,3]:
    for y in [3,4]:
        res.append(merge(x,y))
print(res)

[4, 5, 5, 6, 6, 7]