# Random Forest Algorithom

In [5]:
# Import Liberies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier 
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error

In [6]:
numbers=[]
for i in range(8):
    print('Enter a number: ')
    number=(input("Enter a number: "))
    print(number)
    numbers.append(number)
numbers.sort()
print(numbers)

Enter a number:
6
Enter a number:
3
Enter a number:
4
Enter a number:
5
Enter a number:
6
Enter a number:
7
Enter a number:
4
Enter a number:
3
['3', '3', '4', '4', '5', '6', '6', '7']

In [2]:
df=sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
le=LabelEncoder()
for col in df.columns:
    if df[col].dtype=='object' or df[col].dtype=='category':
        df[col]=le.fit_transform(df[col])

In [4]:
df.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3
3       23.68  3.31    1       0    2     0     2
4       24.59  3.61    0       0    2     0     4

In [5]:
x=df.drop('sex',axis=1)
y=df['sex']

In [6]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=101)

In [7]:
model_cl=RandomForestClassifier()
model_cl.fit(x_train,y_train)
y_pred=model_cl.predict(x_test)

In [8]:
# avaluate the model
print(accuracy_score(y_pred,y_test))
print(classification_report(y_pred,y_test))

0.6122448979591837
              precision    recall  f1-score   support

           0       0.19      0.33      0.24         9
           1       0.82      0.68      0.74        40

    accuracy                           0.61        49
   macro avg       0.50      0.50      0.49        49
weighted avg       0.70      0.61      0.65        49

# Random Forest Regressor

In [12]:
X=df.drop('tip',axis=1)
Y=df['tip']
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=42)
model_reg=RandomForestRegressor()
model_reg.fit(x_train,y_train)
y_pred=model_reg.predict(x_test)

In [13]:
# Avaluate the model
print(mean_squared_error(y_pred,y_test))
print(mean_absolute_error(y_pred,y_test))
print(np.sqrt(mean_squared_error(y_pred,y_test)))
print(r2_score(y_pred,y_test))

0.9289806400000012
0.7621346938775512
0.9638364176560259
0.27596289446472244

In [32]:
list=[]
print('Enter first number: ')
a=input()
print(a)
print('Enter Second number: ')
list.append(a)
b=input()
print(b)
print('Enter Third number: ')
list.append(b)
c=input()
print(c)
list.append(c)
list.sort()
print(list)

Enter first number:
9
Enter Second number:
5
Enter Third number:
4
['4', '5', '9']