# dealing with missing values

# 1. Simple Imputation
## 1.1. Mean/Median Imputation

### 1.1.1. Mean Imputation

In [1]:
#import liberaries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=sns.load_dataset('titanic')

In [3]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [5]:
df.isnull().sum().sort_values(ascending=False)

deck           688
age            177
embarked         2
embark_town      2
survived         0
pclass           0
sex              0
sibsp            0
parch            0
fare             0
class            0
who              0
adult_male       0
alive            0
alone            0
dtype: int64

In [6]:
df['age']=df['age'].fillna(df['age'].mean())

In [7]:
round(df.isnull().sum()/len(df)*100,2).sort_values(ascending=False)

deck           77.22
embarked        0.22
embark_town     0.22
survived        0.00
pclass          0.00
sex             0.00
age             0.00
sibsp           0.00
parch           0.00
fare            0.00
class           0.00
who             0.00
adult_male      0.00
alive           0.00
alone           0.00
dtype: float64

### 1.1.2. Median Imputation

In [8]:
df=sns.load_dataset('titanic')
df.isnull().sum().sort_values(ascending=False)

deck           688
age            177
embarked         2
embark_town      2
survived         0
pclass           0
sex              0
sibsp            0
parch            0
fare             0
class            0
who              0
adult_male       0
alive            0
alone            0
dtype: int64

In [10]:
#mean of age missing values
df['age']=df['age'].fillna(df['age'].median())
df.isnull().sum().sort_values(ascending=False)

deck           688
embarked         2
embark_town      2
survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
class            0
who              0
adult_male       0
alive            0
alone            0
dtype: int64

### 1.1.2. Mode Imputation

In [11]:
df=sns.load_dataset('titanic')
df.isnull().sum().sort_values(ascending=False)

deck           688
age            177
embarked         2
embark_town      2
survived         0
pclass           0
sex              0
sibsp            0
parch            0
fare             0
class            0
who              0
adult_male       0
alive            0
alone            0
dtype: int64

In [14]:
df['embarked']=df['embarked'].fillna(df['embarked'].mode()[0])
df['embark_town']=df['embark_town'].fillna(df['embark_town'].mode()[0])
df.isnull().sum().sort_values(ascending=False)

deck           688
age            177
survived         0
pclass           0
sex              0
sibsp            0
parch            0
fare             0
embarked         0
class            0
who              0
adult_male       0
embark_town      0
alive            0
alone            0
dtype: int64

## 2. K-Nearest Neighbors (KNN)

In [15]:
df=sns.load_dataset('titanic')
df.isnull().sum().sort_values(ascending=False)

deck           688
age            177
embarked         2
embark_town      2
survived         0
pclass           0
sex              0
sibsp            0
parch            0
fare             0
class            0
who              0
adult_male       0
alive            0
alone            0
dtype: int64

In [17]:
from sklearn.impute import KNNImputer
imputer=KNNImputer(n_neighbors=4)
df['age']=imputer.fit_transform(df[['age']])
df.isnull().sum().sort_values(ascending=False)

deck           688
embarked         2
embark_town      2
survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
class            0
who              0
adult_male       0
alive            0
alone            0
dtype: int64

## 3. Regression Imputation

In [18]:
df=sns.load_dataset('titanic')
df.isnull().sum().sort_values(ascending=False)

deck           688
age            177
embarked         2
embark_town      2
survived         0
pclass           0
sex              0
sibsp            0
parch            0
fare             0
class            0
who              0
adult_male       0
alive            0
alone            0
dtype: int64

In [19]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

imputer=IterativeImputer(max_iter=10)

df['age']=imputer.fit_transform(df[['age']])
df.isnull().sum().sort_values(ascending=False)

deck           688
embarked         2
embark_town      2
survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
class            0
who              0
adult_male       0
alive            0
alone            0
dtype: int64

## 4. Random Forests for Imputing Missing Values

In [40]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, mean_absolute_percentage_error
from sklearn.impute import SimpleImputer

# 1. load the dataset
df = sns.load_dataset('titanic')

# check missing values in each column
df.isnull().sum().sort_values(ascending=False)

deck           688
age            177
embarked         2
embark_town      2
survived         0
pclass           0
sex              0
sibsp            0
parch            0
fare             0
class            0
who              0
adult_male       0
alive            0
alone            0
dtype: int64

In [41]:
df=df.drop('deck',axis=1)

In [42]:
# encode the data using label encoding
from sklearn.preprocessing import LabelEncoder
# Columns to encode
columns_to_encode = ['sex', 'embarked', 'who', 'class', 'embark_town', 'alive']

# Dictionary to store LabelEncoders for each column
label_encoders = {}

# Loop to apply LabelEncoder to each column
for col in columns_to_encode:
    # Create a new LabelEncoder for the column
    le = LabelEncoder()

    # Fit and transform the data, then inverse transform it
    df[col] = le.fit_transform(df[col])

    # Store the encoder in the dictionary
    label_encoders[col] = le

# Check the first few rows of the DataFrame
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,1,22.0,1,0,7.2500,2,2,1,True,2,0,False
1,1,1,0,38.0,1,0,71.2833,0,0,2,False,0,1,False
2,1,3,0,26.0,0,0,7.9250,2,2,2,False,2,1,True
3,1,1,0,35.0,1,0,53.1000,2,0,2,False,2,1,False
4,0,3,1,35.0,0,0,8.0500,2,2,1,True,2,0,True

In [43]:
# Split data into missing and non missing values
# with missing
df_with_missing=df[df['age'].isna()]

# df without missing
df_without_missing=df.dropna()

In [44]:
print(df.shape)
print(df_with_missing.shape)
print(df_without_missing.shape)

(891, 14)
(177, 14)
(714, 14)

# Outliers using Numpy

In [37]:
data=pd.DataFrame({'age':[20,21,22,23,24,25,26,27,28,29,30,50]})

In [38]:
mean=np.mean(data['age'])
std=np.std(data['age'])
data['z-score']=(data['age']-mean)/std

In [50]:
print(f"Data outlier is:\n{data[data['z-score']>3]}")
print('---'*30)
print(f"Standard Deviatiion is:\n{data['z-score']}")
data=data[data['z-score']<=3]
print(data)

Data outlier is:
Empty DataFrame
Columns: [age, z-score]
Index: []
------------------------------------------------------------------------------------------
Standard Deviatiion is:
0    -0.938954
1    -0.806396
2    -0.673838
3    -0.541280
4    -0.408721
5    -0.276163
6    -0.143605
7    -0.011047
8     0.121512
9     0.254070
10    0.386628
Name: z-score, dtype: float64
    age   z-score
0    20 -0.938954
1    21 -0.806396
2    22 -0.673838
3    23 -0.541280
4    24 -0.408721
5    25 -0.276163
6    26 -0.143605
7    27 -0.011047
8    28  0.121512
9    29  0.254070
10   30  0.386628

In [66]:
from sklearn import preprocessing
scaler=preprocessing.MinMaxScaler()

In [71]:
data=np.array([[1,2,3],[5,6,7],[8,9,10]])
data

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 8,  9, 10]])

In [72]:
scaled=scaler.fit_transform(data)

In [73]:
scaled

array([[0.        , 0.        , 0.        ],
       [0.57142857, 0.57142857, 0.57142857],
       [1.        , 1.        , 1.        ]])

In [61]:
data.ndim

3